.header {
	background: #428bca;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.footer {
	background: #4A4A4A;
	color: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.big-statistics {
	width: 90%;
	height: 100px;
	line-height: 100px;
	border-radius: 15px;
	font-size: 36px;
	background: #D9EDF7;
	margin-left: 5%;
}